<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dao.CatWeldMapper">

	<resultMap id="catMap" type="com.spring.model.CatWeld">
        <id property="id" column="fid"></id> 
        <result property="id" column="fid"></result>  
        <result property="weldnum" column="fweldnum"></result>  
        <result property="checkintime" column="fcheckintime"></result> 
        <result property="ssnum" column="fssnum"></result>  
        <result property="firstsuretime" column="ffirstsuretime"></result>
        <result property="department" column="fdepartment"></result>
        <result property="workship" column="fworkship"></result>
        <result property="workmaintime" column="fworkmaintime"></result>
        <result property="workkmainname" column="fworkkmainname"></result>
        <result property="workfirsttime" column="fworkfirsttime"></result>
        <result property="workfirstname" column="fworkfirstname"></result>
        <result property="worksecondtime" column="fworksecondtime"></result>
        <result property="worksecondname" column="fworksecondname"></result>
        <result property="ifwelding" column="fifwelding"></result>
        <result property="classify" column="fclassify"></result>
        <result property="specification" column="fspecification"></result>
        <result property="weldername" column="fweldername"></result>
        <result property="level" column="flevel"></result>
        <result property="score" column="fscore"></result>
        <result property="ifpass" column="fifpass"></result>
        <result property="icworkime" column="ficworkime"></result>
        <result property="halfyearsure" column="fhalfyearsure"></result>
        <result property="yearsure" column="fyearsure"></result>
        <result property="nextyear" column="fnextyear"></result>
        <result property="femailname" column="femailname_no"></result>
        <result property="femailaddress" column="femailaddress_no"></result>
        <result property="femailtext" column="femailtext_no"></result>
        <result property="femailstatus" column="femailstatus_no"></result>
        <result property="femailtime" column="femailtime_no"></result>
        <result property="nextwall_thickness" column="fnextwall_thickness"></result>
        <result property="next_material" column="fnext_material"></result>
        <result property="creatTime" column="fcreatetime"></result>
        <result property="updateTime" column="fupdatetime"></result>
        <result property="updatecount" column="fupdatecount"></result>
        <result property="valtage_unit" column="fvaltage_unit"></result>
        <result property="electricity_unit" column="felectricity_unit"></result>
        <result property="updater" column="fupdater"></result>
        <result property="creater" column="fcreater"></result>
        <result property="insfid" column="insfid"></result>
        <association property="itemid" column="fitemId" javaType="com.spring.model.Insframework">  
            <id property="id" column="iid"></id> 
            <result property="name" column="iname"></result>  
            <result property="logogram" column="flogogram"></result>  
            <result property="code" column="fcode"></result>
        	<result property="parent" column="fparent"></result>
        	<result property="type" column="ftype"></result>
        </association>
	</resultMap>
	
	<resultMap id="wmMap" type="com.spring.model.WeldedJunction">
        <id property="id" column="fid"></id> 
        <result property="machid" column="machid"></result>  
        <result property="machine_num" column="fequipment_no"></result> 
        <result property="weldedJunctionno" column="fwelded_junction_no"></result>  
        <result property="dyne" column="fdyne"></result>
        <result property="maxElectricity" column="fmax_electricity"></result>
        <result property="minElectricity" column="fmin_electricity"></result>
        <result property="maxValtage" column="fmax_valtage"></result>
        <result property="minValtage" column="fmin_valtage"></result>
	</resultMap>
	
	<select id="getCatWeldAll" resultMap="catMap" parameterType="java.lang.String">
		SELECT * FROM tb_catweldinf WHERE 1 = 1
		<if test="str!=null and str!=''">
			and ${str}
		</if>
	</select>
	
	<select id="getCatmail" resultMap="catMap" parameterType="java.lang.String">
		SELECT k.fid fid,k.femailname femailname_no,k.femailaddress femailaddress_no,k.femailtext femailtext_no,k.femailstatus femailstatus_no,k.femailtime femailtime_no FROM tb_catemailcheck k WHERE 1 = 1
		<if test="str!=null and str!=''">
			and ${str}
		</if>
	</select>
	
	<select id="getWeldedJunctionAll" resultMap="catMap" parameterType="java.lang.String">
		SELECT j. * , i.fid iid, i.fname iname FROM tb_welded_junction j LEFT JOIN tb_insframework i ON j.fitemId = i.fid WHERE 1 =1
		<if test="str!=null and str!=''">
			and ${str}
		</if>
	</select>
	
	<select id="getJunctionByWelder" resultMap="catMap">
		select fwelded_junction_no,i.fname iname ,fmax_electricity,fmin_electricity,fmax_valtage,fmin_valtage,fwall_thickness,fnextwall_thickness,Fmaterial,Fnext_material,fexternal_diameter,fnextExternal_diameter from tb_live_data l 
		INNER join tb_welder w on l.fwelder_id = w.fwelder_no 
		INNER join tb_welded_junction j on l.fjunction_id = j.fwelded_junction_no
		INNER JOIN tb_insframework i ON j.fitemId = i.fid 
		where l.fwelder_id=#{welder}
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= #{dto.dtoTime2}
			</if>
		</if>group by fjunction_id
	</select>
	
	<select id="getFirsttime" resultType="java.lang.String">
		SELECT `FWeldTime` FROM `tb_live_data` WHERE `fmachine_id`=#{machineid} AND `fjunction_id`=#{junid} 
		<if test="welderid!=null and welderid!=''">
			AND `fwelder_id`=#{welderid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		AND `tb_live_data`.`fstatus`='3' ORDER BY `FWeldTime` ASC LIMIT 0,1
	</select>
	
	<select id="getLasttime" resultType="java.lang.String">
		SELECT `FWeldTime` FROM `tb_live_data` WHERE `fmachine_id`=#{machineid} AND `fjunction_id`=#{junid} 
		<if test="welderid!=null and welderid!=''">
			AND `fwelder_id`=#{welderid}
		</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and fweldtime &gt;= #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and fweldtime &lt;= #{dto.dtoTime2}
			</if>
		</if>
		AND `tb_live_data`.`fstatus`='3' ORDER BY `FWeldTime` DESC LIMIT 0,1
	</select>
	
	<select id="getweldnumCount" resultType="java.lang.Integer">
		SELECT count(*) FROM tb_catweldinf WHERE fweldnum = #{eno}
	</select>
	
	<select id="getJMByWelder" resultMap="wmMap">
		select COUNT(l.fid) counts,m.fequipment_no,m.fid machid,fwelded_junction_no,fdyne,fmax_electricity,fmin_electricity,fmax_valtage,fmin_valtage from tb_live_data l 
		INNER join tb_welded_junction j on l.fjunction_id = j.fwelded_junction_no
		INNER JOIN tb_welding_machine m on m.fid=l.fmachine_id
		where 1=1
		<if test="welderid!=null and welderid!=''">
				and l.fwelder_id=#{welderid}
			</if>
		<if test="dto!=null and dto!=''">
			<if test="dto.search!=null and dto.search!=''">
				and l.fjunction_id = #{dto.search}
			</if>
			<if test="dto.dtoTime1!=null and dto.dtoTime1!=''">
				and (fweldtime between #{dto.dtoTime1}
			</if>
			<if test="dto.dtoTime2!=null and dto.dtoTime2!=''">
				and #{dto.dtoTime2})
			</if>
		</if>and l.fstatus='3' group by m.fequipment_no,fwelded_junction_no
	</select>
	
	<select id="getWeldedJunctionById" resultMap="catMap" parameterType="java.lang.String">
		SELECT j. * , i.fid iid, i.fname iname FROM tb_welded_junction j INNER JOIN tb_insframework i ON j.fitemId = i.fid WHERE j.fid = #{id}
	</select>
	
	<select id="getWeldedjunctionByNo" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(fid) FROM `tb_welded_junction` WHERE fwelded_junction_no = #{wjno}
	</select>
	
	<insert id="addCatweld" parameterType="com.spring.model.CatWeld">
		insert into tb_catweldinf(fweldnum,fcheckintime,fssnum,ffirstsuretime,fdepartment,fworkship,fworkmaintime,fworkkmainname,fworkfirsttime,fworkfirstname,fworksecondtime,fworksecondname,fifwelding,fclassify,fweldername,flevel,fscore,fifpass,ficworkime,fhalfyearsure,fyearsure,fnextyear) 
		values(#{weldnum},#{checkintime},#{ssnum},#{firstsuretime},#{department},#{workship},#{workmaintime},#{workkmainname},#{workfirsttime},#{workfirstname},#{worksecondtime},#{worksecondname},#{ifwelding},#{classify},#{weldername},#{level},#{score},#{ifpass},#{icworkime},#{halfyearsure},#{yearsure},#{nextyear});
	</insert>
	
	<update id="updateCatweld" parameterType="com.spring.model.CatWeld">
		update tb_catweldinf set fweldnum=#{weldnum},fcheckintime=#{checkintime},fssnum=#{ssnum},ffirstsuretime=#{firstsuretime},fdepartment=#{department},fworkship=#{workship},fworkmaintime=#{workmaintime},fworkkmainname=#{workkmainname},fworkfirsttime=#{workfirsttime},fworkfirstname=#{workfirstname},fworksecondtime=#{worksecondtime},
		fworksecondname=#{worksecondname},fifwelding=#{ifwelding},fclassify=#{classify},fweldername=#{weldername},flevel=#{level},fscore=#{score},fifpass=#{ifpass},ficworkime=#{icworkime},fhalfyearsure=#{halfyearsure},fyearsure=#{yearsure},fnextyear=#{nextyear} where fid=#{id};
	</update>
	
	<delete id="deleteCatweld" parameterType="java.math.BigInteger">
		delete from tb_catweldinf where fid=#{id}
	</delete>
</mapper>
